/* CSS accompanying the HTML to compute the Sine Drill. 
    Written by Amarnath S, Apr 2019
    amarnaths.codeproject@gmail.com */
* {
    font-family: Arial, Verdana, sans-serif;
    color: "#111111";
    text-align: center;
    min-width: 700;
}

canvas {
   border: 2px solid blue;
}

.container {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-column-gap: 0.5em;
}

td.blank {
    visibility: hidden;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#eqnGuess, .guess {
    color: blue;
    font-size: 25px;
}

.mygraph  {
    color: red;
    font-size: 25px;
}

input {
    border-style: double;
}

.centre {
    display: grid;
    align-self: center;
}

.showAns{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
